<div class="modal-header">
    <h4 class="modal-title pull-left">Select link</h4>
    <button
        angulartics2On="click"
        angularticsAction="link-dropdown-menu-modal"
        [angularticsCategory]="parent"
        angularticsLabel="close"
        [angularticsValue]="1"
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="bd-badges">
        <ng-container *ngFor="let link of links">
            <app-link-button
                [parent]="parent"
                [links]="[link]"
                buttonDefaultClass="btn-secondary"></app-link-button>
        </ng-container>
    </div>
</div>
