<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a
            class="navbar-brand"
            [routerLink]="site?.brand?.routerLink">
            <img
                [src]="site?.brand?.image"
                width="30"
                height="30"
                class="d-inline-block align-top"
                alt>
            {{site?.brand?.title}}
        </a>
        <button
            angulartics2On="click"
            angularticsAction="toggler"
            angularticsCategory="navbar"
            angularticsLabel="isCollapsed"
            [angularticsValue]="isCollapsed?1:0"
            class="navbar-toggler"
            type="button"
            (click)="isCollapsed=!isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse"
            [collapse]="isCollapsed$|async">
            <ul class="navbar-nav ml-auto">
                <ng-container *ngFor="let page of site.pages; let i=index">
                    <li
                        class="nav-item"
                        routerLinkActive="active"
                        *ngIf="page.type==='modules'">
                        <a
                            class="nav-link"
                            [routerLink]="'/'+page.name">
                            <i
                                [ngClass]="page.iconClass"
                                *ngIf="page.iconClass"></i>
                            {{page.title}}
                        </a>
                    </li>
                    <li
                        class="nav-item"
                        routerLinkActive="active"
                        *ngIf="page.type==='contact'">
                        <a
                            class="nav-link"
                            [routerLink]="'/'+page.name">
                            <i
                                [ngClass]="page.iconClass"
                                *ngIf="page.iconClass"></i>
                            {{page.title}}
                        </a>
                    </li>
                    <li
                        class="nav-item"
                        routerLinkActive="active"
                        *ngIf="page.type==='external-link'">
                        <a
                            angulartics2On="click"
                            angularticsAction="external-url"
                            angularticsCategory="navbar"
                            [angularticsLabel]="page.title"
                            [angularticsValue]="1"
                            class="nav-link"
                            [href]="page.externalUrl"
                            target="_blank">
                            <i
                                [ngClass]="page.iconClass"
                                *ngIf="page.iconClass"></i>
                            {{page.title}}
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>
